Matrix: Metadata
Read_PCL_Rows: IL23R-PC9,individual

Matrix: Abundance
Read_PCL_Rows: k__Bacteria|p__Actinobacteria|c__Actinobacteria|o__Bifidobacteriales|f__Bifidobacteriaceae|g__Bifidobacterium|3685-k__Bacteria|p__Verrucomicrobia|c__Verrucomicrobiae|o__Verrucomicrobiales|f__Verrucomicrobiaceae|g__Akkermansia


